server:
  port: 3355
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/cloud?useUnicode=true&characterEncoding=utf-8&&useSSL=false
    username: root
    password:
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: org.ning.springcloud.entities #entity所在位置包
